<aside class="sidebar">
    <button type="button" class="sidebar-close-btn !mt-4">
        <iconify-icon icon="radix-icons:cross-2"></iconify-icon>
    </button>
    <div>
        <a href="{{ url_for('dashboard.index') }}" class="sidebar-logo">
            <img src="{{ url_for('static', filename='assets/images/icons/logo.png') }}" alt="site logo" class="light-logo">
            <img src="{{ url_for('static', filename='assets/images/icons/logo.png') }}" alt="site logo"
                class="dark-logo">
            <img src="{{ url_for('static', filename='assets/images/icons/logo.png') }}" alt="site logo"
                class="logo-icon">
        </a>
    </div>
    <div class="sidebar-menu-area">
        <ul class="sidebar-menu" id="sidebar-menu">
            <li>
                <a href="{{ url_for('email') }}">
                    <iconify-icon icon="mage:email" class="menu-icon"></iconify-icon>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="dropdown">
                <a href="javascript:void(0)">
                    <iconify-icon icon="solar:document-text-outline" class="menu-icon"></iconify-icon>
                    <span>Self Services</span>
                </a>
                <ul class="sidebar-submenu">
                    <li>
                        <a href="{{ url_for('selfservice.paymentgateway') }}"><i
                                class="ri-circle-fill circle-icon text-warning-600 w-auto"></i> Payment Gateway
                            Services</a>
                    </li>
                    <li>
                        <a href="{{ url_for('selfservice.ccbillpaymentservice') }}"><i
                                class="ri-circle-fill circle-icon text-success-600 w-auto"></i> CC Bill Payment
                            Service</a>
                    </li>
                    <li>
                        <a href="{{ url_for('selfservice.moneytransferservice') }}"><i
                                class="ri-circle-fill circle-icon text-purple-600  dark:text-purple-400 w-auto"></i>
                            Money Transfer Service</a>
                    </li>
                    <li>
                        <a href="{{ url_for('selfservice.mobilerecharge') }}"><i
                                class="ri-circle-fill circle-icon text-warning-600 w-auto"></i> Mobile Recharge</a>
                    </li>
                    <li>
                        <a href="{{ url_for('selfservice.dthrecharge') }}"><i
                                class="ri-circle-fill circle-icon text-danger-600 w-auto"></i> DTH Recharge</a>
                    </li>
          
                </ul>
            </li>
            <li class="dropdown">
                <a href="javascript:void(0)">
                    <iconify-icon icon="hugeicons:invoice-03" class="menu-icon"></iconify-icon>
                    <span>Self Transaction Report</span>
                </a>
                <ul class="sidebar-submenu">
                    <li>
                        <a href="{{ url_for('selftransactionreport.paymentgatewayreport') }}"><i
                                class="ri-circle-fill circle-icon text-primary-600 w-auto"></i>Payment Gateway
                            Report</a>
                    </li>
                    <li>
                        <a href="{{ url_for('selftransactionreport.billpaymentreport') }}"><i
                                class="ri-circle-fill circle-icon text-warning-600 w-auto"></i>Bill Payment Report</a>
                    </li>
                    <li>
                        <a href="{{ url_for('selftransactionreport.moneytransferreport') }}"><i
                                class="ri-circle-fill circle-icon text-info-600 w-auto"></i>Money Transfer Report</a>
                    </li>
                    <li>
                        <a href="{{ url_for('selftransactionreport.mobilerechargereport') }}"><i
                                class="ri-circle-fill circle-icon text-danger-600 w-auto"></i>Mobile Recharge Report</a>
                    </li>
                    <li>
                        <a href="{{ url_for('selftransactionreport.dthrechargereport') }}"><i
                                class="ri-circle-fill circle-icon text-purple-600 w-auto"></i>DTH Recharge Report</a>
                    </li>
                    <li>
                        <a href="{{ url_for('selftransactionreport.commissionreport') }}"><i
                                class="ri-circle-fill circle-icon text-info-600 w-auto"></i>Commission Reports</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="javascript:void(0)">
                    <iconify-icon icon="hugeicons:bitcoin-circle" class="menu-icon"></iconify-icon>
                    <span>Member Manager</span>
                </a>
                <ul class="sidebar-submenu">
                    <li>
                        <a href="{{ url_for('membermanager.retailer') }}"><i
                                class="ri-circle-fill circle-icon text-primary-600 w-auto"></i> Retailer</a>
                    </li>
                    <li>
                        <a href="{{ url_for('membermanager.distributor') }}"><i
                                class="ri-circle-fill circle-icon text-danger-600 w-auto"></i> Distributor</a>
                    </li>
                    <li>
                        <a href="{{ url_for('membermanager.wallettopuprequest') }}"><i
                                class="ri-circle-fill circle-icon text-purple-600 w-auto"></i> Wallet Top-up Request</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="javascript:void(0)">
                    <iconify-icon icon="hugeicons:ai-brain-03" class="menu-icon"></iconify-icon>
                    <span>Member Report</span>
                </a>
                <ul class="sidebar-submenu">
                    <li>
                        <a href="{{ url_for('memberreport.paymentgatewayreport') }}"><i
                                class="ri-circle-fill circle-icon text-primary-600 w-auto"></i> Payment Gateway
                            Report</a>
                    </li>
                    <li>
                        <a href="{{ url_for('memberreport.billpaymentreport') }}"><i
                                class="ri-circle-fill circle-icon text-warning-600 w-auto"></i> Bill Payment Report</a>
                    </li>
                    <li>
                        <a href="{{ url_for('memberreport.moneytransferreport') }}"><i
                                class="ri-circle-fill circle-icon text-info-600 w-auto"></i> Money Transfer Report</a>
                    </li>
                    <li>
                        <a href="{{ url_for('memberreport.mobilerechargereport') }}"><i
                                class="ri-circle-fill circle-icon text-danger-600 w-auto"></i> Mobile Recharge
                            Report</a>
                    </li>
                    <li>
                        <a href="{{ url_for('memberreport.dthrechargereport') }}"><i
                                class="ri-circle-fill circle-icon text-success-600 w-auto"></i>DTH Recharge Report</a>
                    </li>
                    <li>
                        <a href="{{ url_for('memberreport.wallettopuprecharge') }}"><i
                                class="ri-circle-fill circle-icon text-primary-600 w-auto"></i> Wallet Top-up Report</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="{{ url_for('wallettopup.index') }}">
                    <iconify-icon icon="bi:chat-dots" class="menu-icon"></iconify-icon>
                    <span>Wallet Top-up</span>
                </a>
            </li>
            
<li>
                <a href="{{ url_for('profilesetting.index') }}">
                    <iconify-icon icon="ic:baseline-group" class="menu-icon"></iconify-icon>
                    <span>Profile Setting</span>
                </a>
            </li>

            <li>
                <a href="{{ url_for('complaint.index') }}">
                    <iconify-icon icon="material-symbols:map-outline" class="menu-icon"></iconify-icon>
                    <span>Complaint</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('privacypolicy.index') }}">
                    <iconify-icon icon="solar:gallery-wide-linear" class="menu-icon"></iconify-icon>
                    <span>Privacy Policy</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('terms_condition.index') }}">
                    <iconify-icon icon="hugeicons:money-send-square" class="menu-icon"></iconify-icon>
                    <span>Terms & Condition</span>
                </a>
            </li>
            <li>
              <a href="{{ url_for('logout.logout_user') }}" onclick="return confirm('Are you sure you want to logout?')">
    <iconify-icon icon="mdi:logout" class="menu-icon"></iconify-icon>
    <span>Logout</span>
</a>
            </li>

         
          
        </ul>
    </div>
</aside>