
{% extends 'layout/layout.html' %}

{% block content %}

<style>
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
</style>

<!--Complaint-->

<div class="card border-0 over mb-2 mt-3">
    <div class="card-header flex items-end gap-4 p-4 overflow-x-auto hide-scrollbar overflow-hidden">
        <div class="flex-shrink-0">
            <label for="fromDate" class="form-label">From Date</label>
            <input type="date" id="fromDate" name="fromDate" class="form-control" />
        </div>

        <div class="flex-shrink-0">
            <label for="toDate" class="form-label">To Date</label>
            <input type="date" id="toDate" name="toDate" class="form-control" />
        </div>

        <div class="flex-shrink-0">
            <label class="form-label">Complaint Type</label>
            <div>
                <button data-dropdown-toggle="distributorDropdown4a9" data-dropdown-placement="bottom"
                    class="text-primary-600 focus:bg-primary-600 hover:bg-primary-700 border border-primary-600 hover:text-white focus:text-white focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-base px-5 py-1.5 text-center inline-flex items-center dark:text-primary-400 dark:hover:text-white dark:focus:text-white dark:focus:ring-primary-800"
                    type="button">
                    Complaint Type
                    <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 1 4 4 4-4" />
                    </svg>
                </button>
                <div id="distributorDropdown4a9"
                    class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-2xl w-44 dark:bg-gray-700">
                    <ul class="py-2 text-base text-gray-700 font-semibold dark:text-gray-200">
                        <li>
                            <a href="#"
                                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Collection
                                Services - PG</a>
                        </li>
                        <li>
                            <a href="#"
                                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">CC
                                Bill Payment</a>
                        </li>
                        <li>
                            <a href="#"
                                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Bank
                                Settlement</a>
                        </li>
                        <li>
                            <a href="#"
                                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Money
                                Transfer</a>
                        </li>
                        <li>
                            <a href="#"
                                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Mobile
                                & DTH Recharge</a>
                        </li>

                        <li>
                            <a href="#"
                                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Other</a>
                        </li>


                    </ul>
                </div>
            </div>
        </div>

        <div class="flex-shrink-0">
            <label class="form-label">Complaint Status</label>
            <div>
                <button data-dropdown-toggle="distributorDropdown4aaa" data-dropdown-placement="bottom"
                    class="text-primary-600 focus:bg-primary-600 hover:bg-primary-700 border border-primary-600 hover:text-white focus:text-white focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-base px-5 py-1.5 text-center inline-flex items-center dark:text-primary-400 dark:hover:text-white dark:focus:text-white dark:focus:ring-primary-800"
                    type="button">
                    Complaint Status
                    <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 1 4 4 4-4" />
                    </svg>
                </button>
                <div id="distributorDropdown4aaa"
                    class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-2xl w-44 dark:bg-gray-700">
                    <ul class="py-2 text-base text-gray-700 font-semibold dark:text-gray-200">
                        <li>
                            <a href="#"
                                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Resolved</a>
                        </li>
                        <li>
                            <a href="#"
                                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Escalated</a>
                        </li>
                        <li>
                            <a href="#"
                                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">On
                                Hold</a>
                        </li>
                        <li>
                            <a href="#"
                                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">New</a>
                        </li>
                        <li>
                            <a href="#"
                                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Junk</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="flex-shrink-0">
            <label class="form-label">Select Department</label>
            <div>
                <button data-dropdown-toggle="distributorDropdown4a56" data-dropdown-placement="bottom"
                    class="text-primary-600 focus:bg-primary-600 hover:bg-primary-700 border border-primary-600 hover:text-white focus:text-white focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-base px-5 py-1.5 text-center inline-flex items-center dark:text-primary-400 dark:hover:text-white dark:focus:text-white dark:focus:ring-primary-800"
                    type="button">
                    Select Actioner
                    <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m1 1 4 4 4-4" />
                    </svg>
                </button>
                <div id="distributorDropdown4a56"
                    class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-2xl w-44 dark:bg-gray-700">
                    <ul class="py-2 text-base text-gray-700 font-semibold dark:text-gray-200">
                        <li>
                            <a href="#"
                                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Admin</a>
                        </li>
                        <li>
                            <a href="#"
                                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Support
                                Team</a>
                        </li>
                        <li>
                            <a href="#"
                                class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Legal
                                Department</a>
                        </li>



                    </ul>
                </div>
            </div>
        </div>



        <div class="flex flex-shrink-0 gap-2">
            <button type="button" class="btn bg-primary-600 hover:bg-primary-700 text-white rounded-lg px-5 py-[11px]">
                Search
            </button>

            <button type="button" class="btn bg-primary-600 hover:bg-primary-700 text-white rounded-lg px-5 py-[11px]">
                New Request
            </button>


            <button type="button" class="btn bg-success-600 hover:bg-success-700 text-white rounded-lg px-5 py-[11px]">
                Export-Excel
            </button>
            <button type="button" class="btn bg-danger-600 hover:bg-danger-700 text-white rounded-lg px-5 py-[11px]">
                Export-PDF
            </button>
        </div>
    </div>
</div>

<div class="grid grid-cols-12">
    <div class="col-span-12">
        <div class="card-header flex flex-wrap items-center justify-between gap-3">
            <div class="flex flex-wrap items-center gap-3">

            </div>
        </div>
        <div class="border border-gray-300 rounded">
            <div class="card-body border border-gray-300 rounded bg-white">
                <div class="table-responsive scroll-sm overflow-x-auto hide-scrollbar">
                    <table class="table mb-0 bg-white">
                        <thead>
                            <tr>
                                <th scope="col">
                                    <div
                                        class="border border-gray-300 bg-white rounded form-check style-check flex items-center gap-2 py-2 px-4">
                                        <label class="form-check-label" for="checkAll">
                                            Sr. No
                                        </label>
                                    </div>
                                </th>
                                <th scope="col">
                                    <div
                                        class="border border-gray-300 bg-white rounded form-check style-check flex items-center gap-2 py-2 px-4">
                                        <label class="form-check-label" for="checkAll">
                                            Req Date
                                        </label>
                                    </div>
                                </th>

                                <th scope="col">
                                    <div
                                        class="border border-gray-300 bg-white rounded form-check style-check flex items-center gap-2 py-2 px-4">
                                        <label class="form-check-label" for="checkAll">
                                            Service Category
                                        </label>
                                    </div>
                                </th>

                                <th scope="col">
                                    <div
                                        class="border border-gray-300 bg-white rounded form-check style-check flex items-center gap-2 py-2 px-4">
                                        <label class="form-check-label" for="checkAll">
                                            Transaction ID
                                        </label>
                                    </div>
                                </th>

                                <th scope="col">
                                    <div
                                        class="border border-gray-300 bg-white rounded form-check style-check flex items-center gap-2 py-2 px-4">
                                        <label class="form-check-label" for="checkAll">
                                            Transaction Date
                                        </label>
                                    </div>
                                </th>


                                <th scope="col">
                                    <div
                                        class="border border-gray-300 bg-white rounded form-check style-check flex items-center gap-2 py-2 px-4">
                                        <label class="form-check-label" for="checkAll">
                                            Trx Amount.
                                        </label>
                                    </div>
                                </th>

                                <th scope="col">
                                    <div
                                        class="border border-gray-300 bg-white rounded form-check style-check flex items-center gap-2 py-2 px-8">
                                        <label class="form-check-label" for="checkAll">
                                            Disposition
                                        </label>
                                    </div>
                                </th>
                                <th scope="col">
                                    <div
                                        class="border border-gray-300 bg-white rounded form-check style-check flex items-center gap-2 py-2 px-4">
                                        <label class="form-check-label" for="checkAll">
                                            Complaint Status
                                        </label>
                                    </div>
                                </th>
                                <th scope="col">
                                    <div
                                        class="border border-gray-300 bg-white rounded form-check style-check flex items-center gap-2 py-2 px-4">
                                        <label class="form-check-label" for="checkAll">
                                            Agent Remark
                                        </label>
                                    </div>
                                </th>
                                <th scope="col">
                                    <div
                                        class="border border-gray-300 bg-white rounded form-check style-check flex items-center gap-2 py-2 px-4">
                                        <label class="form-check-label" for="checkAll">
                                            Escalation Deprt.
                                        </label>
                                    </div>
                                </th>

                                <th scope="col">
                                    <div
                                        class="border border-gray-300 bg-white rounded form-check style-check flex items-center gap-2 py-2 px-4">
                                        <label class="form-check-label" for="checkAll">
                                            Updator Remark
                                        </label>
                                    </div>
                                </th>


                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div
                                        class="form-check style-check flex items-center gap-2 border border-gray-300 rounded form-check style-check py-2 px-4">
                                        <label class="form-check-label" for="check1"> 01 </label>
                                    </div>
                                </td>
                                <td>
                                    <div
                                        class="form-check style-check flex items-center gap-2 border border-gray-300 rounded form-check style-check py-2 px-4">
                                        <label class="form-check-label" for="check1"> 31-05-2025 </label>
                                    </div>
                                </td>

                                <td>
                                    <div
                                        class="form-check style-check flex items-center gap-2 border border-gray-300 rounded form-check style-check py-2 px-4">
                                        <label class="form-check-label" for="check1"> Mobile Recharge </label>
                                    </div>
                                </td>
                                <td>
                                    <div
                                        class="form-check style-check flex items-center gap-2 border border-gray-300 rounded form-check style-check py-2 px-4">
                                        <label class="form-check-label" for="check1"> 823746237542 </label>
                                    </div>
                                </td>
                                <td>
                                    <div
                                        class="form-check style-check flex items-center gap-2 border border-gray-300 rounded form-check style-check py-2 px-4">
                                        <label class="form-check-label" for="check1"> 31-05-2025</label>
                                    </div>
                                </td>
                                <td>
                                    <div
                                        class="form-check style-check flex items-center gap-2 border border-gray-300 rounded form-check style-check py-2 px-4">
                                        <label class="form-check-label" for="check1"> ₹300.00 </label>
                                    </div>
                                </td>

                                <td>
                                    <div
                                        class="form-check style-check flex items-center gap-2 border border-gray-300 rounded form-check style-check py-2 px-4">
                                        <label class="form-check-label" for="check1"> Complaint Disposition </label>
                                    </div>
                                </td>
                                <td>
                                    <div
                                        class="form-check style-check flex items-center gap-2 border border-gray-300 rounded form-check style-check py-2 px-4">
                                        <label class="form-check-label" for="check1"> On Hold </label>
                                    </div>
                                </td>

                                <td>
                                    <div
                                        class="form-check style-check flex items-center gap-2 border border-gray-300 rounded form-check style-check py-2 px-4">
                                        <label class="form-check-label" for="check1">

                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <div
                                        class="form-check style-check flex items-center gap-2 border border-gray-300 rounded form-check style-check py-2 px-4">
                                        <label class="form-check-label" for="check1"> Support Team </label>
                                    </div>
                                </td>

                                <td>
                                    <div
                                        class="form-check style-check flex items-center gap-2 border border-gray-300 rounded form-check style-check py-2 px-4">
                                        <label class="form-check-label" for="check1"> ------------ </label>
                                    </div>
                                </td>



                            </tr>



                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Complaint Request-->

<div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-6">
    <div class="grid grid-cols-6">
        <div class="card border border-neutral-200 dark:border-neutral-600 rounded-lg">
            <div class="card-header p-4">
                <h6 class="card-title mb-0 text-base font-semibold">
                    Complaint Request
                </h6>
            </div>
            
          <div class="flex w-full">
             <div class="w-1/3">
            <div class=" overflow-hidden">

                    <div class="p-4">
                        <form action="#" class="space-y-5">

                            <div>
                                <label class="text-xs"> Complaint Type </label>
                                <input type="text"
                                    class="form-input w-full rounded-md text-sm border-neutral-300 dark:border-neutral-600 dark:bg-neutral-900 py-1.5 px-3"
                                    placeholder="Services Name......." />
                            </div>
                            <div class="flex-shrink-0 mt-2">
                                <label class="text-xs"> Complaint Disposition </label>
                                <div>
                                    <button data-dropdown-toggle="distributorDropdown4abna"
                                        data-dropdown-placement="bottom"
                                        class="text-neutral-600 border border-neutral-300 font-medium rounded-lg text-sm py-1.5 px-3 text-center inline-flex items-center form-input w-full"
                                        type="button">
                                        Select
                                        <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true"
                                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                                stroke-width="2" d="m1 1 4 4 4-4" />
                                        </svg>
                                    </button>
                                    <div id="distributorDropdown4abna"
                                        class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-2xl w-44 dark:bg-gray-700">
                                        <ul class="py-2 text-base text-gray-700 font-semibold dark:text-gray-200">
                                            <li>
                                                <a href="#"
                                                    class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Recharge
                                                    successful but recharge is not done</a>
                                            </li>
                                            <li>
                                                <a href="#"
                                                    class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Transaction
                                                    showing pending amount is deducted </a>
                                            </li>
                                            <li>
                                                <a href="#"
                                                    class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">DMT
                                                    Transaction success but amount is not credited</a>
                                            </li>

                                            <li>
                                                <a href="#"
                                                    class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Commission
                                                    is not credited</a>
                                            </li>

                                            <li>
                                                <a href="#"
                                                    class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Unable
                                                    to withdraw the wallet balance</a>
                                            </li>

                                            <li>
                                                <a href="#"
                                                    class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Other</a>
                                            </li>


                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="mt-2">
                                <label class="text-xs"> Transaction Amount </label>
                                <input type="text"
                                    class="form-input w-full rounded-md text-sm border-neutral-300 dark:border-neutral-600 dark:bg-neutral-900 py-1.5 px-3"
                                    placeholder="---Select---" />
                            </div>

                            <div class="flex items-center gap-4 px-1 py-1 min-w-1 mt-2">
                                <button type="button"
                                    class="btn bg-success-600 hover:bg-success-700 text-white rounded-md text-center px-3 py-1.5 text-xs">
                                    Submit </button>
                                <button type="button"
                                    class="btn bg-danger-600 hover:bg-danger-700 text-white rounded-md text- center px-3 py-1.5 text-xs">
                                    Cancle </button>
                            </div>

                        </form>
                    </div>
                </div>
           </div>
           <div class="w-2/3 w-full mt-4">
            
                    <form action="#" class="space-y-5 w-full flex">
                           
                            <div class="w-1/2  px-4">
                                <label class="text-xs"> Transaction ID </label>
                                    <input type="text"
                                        class="form-input w-full rounded-md text-sm border-neutral-300 dark:border-neutral-600 dark:bg-neutral-900 py-1.5 px-3"
                                        placeholder="---Select---" />
                            </div>


                              <div class="w-1/2  px-4">
                        
                                
                                    <label class="text-xs"> Transaction Date </label>
                                    <input type="text"
                                        class="form-input w-full rounded-md text-sm border-neutral-300 dark:border-neutral-600 dark:bg-neutral-900 py-1.5 px-3"
                                        placeholder="dd/mm/yyy...." />
                                
                            </div>


                            </form>

                    <div class="w-full">


    <form action="#" class="space-y-5 w-full flex">
                           
                            <div class="  px-4 mt-2">
                                <label class="text-xs"> Complaint Discription : </label>
                               <textarea name="#0" class="form-control rounded-md w-full" placeholder="Write a short description about
the complaint" rows="3" cols="28"></textarea>
                            </div>
                        </form>
                    </div>
                 </div>
           
          </div>

            </div>

        </div>
    </div>


{% endblock %}